@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/**/*';
@source '../../../../vendor/saade/filament-autograph/resources/views/**/*.blade.php';

@source inline('{dark:,}{bg,border,text}-{red,yellow,blue,green}-{50,100,200,300,400,500,600,700,800,900}{/10,/20,/30,/40,/50,/60,/70,/80,/90,}')
